h1{
    font-family: "press Start 2P , sans-serif";
   color: beige";
}
h2{
    font-family: "press Start 2P , sans-serif";
   color: beige";
}

div{
    font-size: 20px;
    background-color: grey;
    color:beige; 
    text-align: center;
    font-family: "consolas";
    border-style:outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
 }

 #guessField{
    font-size: 20px;
    background-color: rgb(189, 201, 205);
    color:red;
 }

 #submitButton{
    background-color: rgb(189, 201, 205);
    color:red; 
    font-size: 22px;
 }